
 /* Set the size of the div element that contains the map */
#map {
  height: 400px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
}
  
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,
  body {
    height: 100%;
    margin: 30px;
    padding: 0;
  }
  

  

  /* 
   * Header img * h3
   */
  .header img {
    float: left;
    width: 150px;
    height: 50px;
    margin-bottom: 15px;
    background: #ffffff;
  }
  
  .header h3 {
    position: relative;
    top: 22px;
    left: 20px;
    font-size: 17px;
    color: rgb(106, 106, 106) ;
  }

  .googleMap {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }


  /* 
   * New image grid try
   */

   .image-grid {
    --gap: 16px;
    --num-cols: 3;
    --row-height: 170px;
  
    box-sizing: border-box;
    padding: var(--gap);
  
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
  }
  
  .image-grid>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }
  
  .image-grid-col-2 {
    grid-column: span 2;
  }
  
  .image-grid-row-2 {
    grid-row: span 2;
  }
  

  .tempBtn {
    width: 300px;
    height: 40px;
    border-radius: 0.5rem;
    
    color: white;
    background-color: #0e6efd;
    border: none;
  }




  /* 
   * Old Old Very Old Image ontainer set up
   */
  /* .imageContainer{
    position: relative;
    
  }

  .pictureOfPlace{
    width: 250px; 
    max-height: 250px;
    object-fit: fill;
    border-radius: 1rem;
    float: left;
  }

  .rightImage{
    flex: display;
    flex-direction: column;    
  }

  #bow {
    width: 120px; 
    height: 120px;
    border-radius: 0.5rem;

    margin: 0px 0px 10px 0px;

    float: right;
  }

  #wow {
    width: 120px; 
    height: 120px;
    border-radius: 0.5rem;

    margin: 10px 0px 10px 0px;

    float: left;
  } */
